@import url(/Magnet-UI/stylesheets/base/reset.css);
@import url(stylesheets/base/variables.css);
@import url(stylesheets/helpers/typography.css);
@import url(stylesheets/helpers/spacing.css);
@import url(/Magnet-UI/components/button.css);
@import url(/Magnet-UI/stylesheets/layout/header.css);
@import url(/Magnet-UI/stylesheets/base/utilities.css);

.main-container {
    padding: 2.5rem;
    height: 88vh;
    font-size: 1.5rem;
}

.main-title {
    text-align: center;
    font-size: 3.5rem;
    color: var(--secondary-color);
    margin: 2rem auto 0.5rem;
}

.main-description {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    font-size: 2rem;
}

.main-logo {
    width: 10rem;
    display: block;
    margin: 2rem auto;
}

a:hover {
    color: var(--primary-color);
}

@media (max-width:1300px) {
    .main-container {
        height: 100vh;
        overflow-y: scroll;
        font-size: 1.5rem;
        margin: 4rem 0 0 0;
    }

    .main-logo {
        width: 6rem;
        margin: 1rem auto;
    }

    .main-description {
        width: 90%;
        text-align: center;
    }
}

.btn-container {
    justify-content: center;
    gap: 2rem;
    margin: 2rem;
}

.btn {
    height: 4rem;
    width:10rem;
    font-size: 1.6rem;
    margin: 0.5rem;
}

@media (max-width: 540px) {
    .main-container {
        padding: 0.2rem;
        margin: 4rem 0 0 0;
    }

    .main-title {
        text-align: center;
        font-size: 1.6rem;
        color: var(--secondary-color);
        margin: 0.5rem;
    }

    .main-description {
        font-size: 1.5rem;
        width: 90%;
        text-align: center;
    }

    .btn {
        height: 3rem;
        width: 10.5rem;
        font-size: 1.2rem;
        margin: 0.5rem;
    }

    .btn-container {
        margin: 1rem;
        text-align: center;
    }

    .header-container {
        position: sticky;
        height: 12vh;
        top: 0;
        background-color: var(--bg-color);
    }

    .brand-logo {
        width: 2rem;
    }

    .nav-link {
        display: none;
    }

    .logo-container {
        width: 20rem;
    }

    .main-logo {
        width: 3rem;
        margin: 0rem auto;
    }

    .brand-name {
        font-size: 1.2rem;
        color: var(--secondary-color);
        font-weight: bolder;
    }
}