.header-container {
    grid-area: header;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    position:sticky;
    height: 12vh;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    top: 0;
    background-color: var(--bg-color);
}
.nav-top-right {
    font-size: var(--size-32);
    color: var(--secondary-color);
}

.logo-container {
    width: 20rem;
    display: flex;
    align-items: center;
    gap: 1rem;  
}

.brand-logo {
    width: 3rem;
}

.brand-name {
    font-size: var(--size-24);
    color: var(--secondary-color);
    font-weight: bolder;
}
