.header-container {
    grid-area: header;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    position:sticky;
    height: 10vh;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    top: 0;
    background-color: var(--bg-color);
}
.nav-top-right {
    display: flex;
    font-size: var(--size-32);
    color: var(--secondary-color);
}

.nav-top-right a{
    margin: 0.5rem;
}
.logo-container {
    width: 15rem;
    display: flex;
    align-items: center;
    gap: 1rem;  
}

.brand-logo {
    width: 2.5rem;
}

.brand-name {
    font-size: var(--size-24);
    color: var(--secondary-color);
    font-weight: bolder;
}

@media screen and (max-width:1024px) {
    .nav-top-right {
        font-size: var(--size-20);
    }
    .brand-logo {
        width: 2rem;
    }
    .brand-name {
        font-size: var(--size-16);
    }
    .header-container{
        padding: 1rem;
    }
}