.main-container {
    grid-area: main;
    padding: 0 2rem;
    overflow-y: scroll;
    height: 88vh;
    font-size: 1.5rem;
}

.main-title {
    text-align: center;
    font-size: 3.5rem;
    color: var(--secondary-color);
    margin: 2rem auto 0.5rem;
}

.main-description {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    font-size: 2rem;
}


