.docs-navbar-container {
    grid-area: nav;
    font-size: 1.5rem;
    padding: 1.5rem;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    background-color: var(--bg-color);
    overflow-y: scroll;
    height: 88vh;
}

.docs-navbar-section{
    padding: 0.4rem 0rem;
}
