.navbar-container {
    grid-area: nav;
    font-size: 1.5rem;
    padding: 1rem;
    box-shadow: 0px 4px 12px #0000001a;
    background-color: var(--bg-color);
    overflow-y: scroll;
    height: 88vh;
}
.nav-top-right .hamburger{
    display: none;
}

/* .docs-navbar-section{
   
} */
