.badge-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    width: 100%;
    gap: 4rem;
}

.profile-badge {
    position: relative;
}

.icons-badge{
    position: relative;
}


.badge {
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
}

.badge-status-online {
    background-color: #1b7052;
}

.badge-status-busy {
    background-color: #dc3545;
}

.badge-status-away {
    background-color: #ff9204;
}

.badge-status-offline {
    background-color: gray;
}

.badge-lg-size{
    height: 2rem;
    width: 2rem;
}

.badge-md-size {
    height: 1.6rem;
    width: 1.6rem;
}

.badge-sm-size {
    height: 1.4rem;
    width: 1.4rem;
}

.badge-xs-size{
    height: 1.2rem;
    width: 1.2rem;
}

.number-badge-iframe {
    font-size: 2rem;
    color: var(--secondary-color);
    padding: 1.5rem;
}


.badge-bottom-right{
    bottom: 6%;
    right: 10%;
}

.badge-top-right {
    top: 6%;
    right: 10%;
}

.badge-top-left{
    top: 6%;
    left: 10%;
}

.badge-bottom-left{
    bottom: 6%;
    left: 10%;
}

.badge-number{
    width: fit-content;
    height: fit-content;
    padding: 0.1rem 0.3rem;
    text-align: center;
}
