.badge-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    width: 100%;
    gap: 4rem;
}

.profile-badge {
    position: relative;
}

.icons-badge{
    position: relative;
}


.badge {
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
}

.badge-status-online {
    background-color: #1b7052;
}

.badge-status-busy {
    background-color: #dc3545;
}

.badge-status-away {
    background-color: #ff9204;
}

.badge-status-offline {
    background-color: gray;
}

.profile-badge .avatar-lg-size~.badge {
    bottom: 1rem;
    right: 1.5rem;
    height: 2rem;
    min-width: 2rem;
}

.profile-badge .avatar-md-size~.badge {
    right: 0.8em;
    bottom: 0.6em;
    height: 1.6rem;
    min-width: 1.6rem;
}

.profile-badge .avatar-sm-size~.badge {
    right: 0.6em;
    bottom: 0.5em;
    height: 1.4rem;
    min-width: 1.4rem;
}

.profile-badge .avatar-xs-size~.badge {
    right: 0.2em;
    bottom: 0.2em;
    height: 1.2rem;
    min-width: 1.2rem;
}


.number-badge-iframe {
    padding: 0.5rem;
    font-size: 1.5rem;
    color: var(--secondary-color);
}

.icons-badge .number-badge-iframe~.badge {
    right: -0.5em;
    top: -0.2em;
    height: 1.4rem;
    min-width: 1.4rem;
    text-align: center;
    color: #fff;
    font-size: 0.8rem;
}