.horizontal-card-container {
    display: flex;
    width: 100%;
    background-color: #fff;
    margin: 2rem 0;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 0.2);
    position: relative;
}

.horizontal-card-container .card-image {
    width: 10rem;
    height: 14rem;
}

.vertical-cards-row {
    display: flex;
    flex-direction: row;
}

.vertical-card-container .card-image {
    width: 200px;
    height: 18rem;
}

.vertical-card-container {
    display: flex;
    flex-direction: column;
    width: 200px;
    position: relative;
    background-color: #fff;
    margin: 2rem 1rem;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 0.2);
}

.card-content {
    padding: 1rem;
}

.card-author {
    color: rgb(123, 128, 133);
    font-size: var(--size-16);
}

.card-info {
    margin: 0 auto;
}

.card-content .btn-container {
    justify-content: flex-start;
}

.text-light-weight {
    font-weight: 100;
}

.text-regular-weight {
    font-weight: 600;
}

.text-strike-through {
    text-decoration: line-through;
}

.primary-text-color {
    color: var(--primary-dark);
}

.card-badge-container {
    position: relative;
}

.card-badge {
    border-radius: 0rem 1rem;
    padding: 0.2rem;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background-color: var(--secondary-color);
    font-size: var(--size-16);
}

.card-badge-dismiss{
    border-radius: 2rem 0rem 0rem 2rem;
    padding: 0.2rem 0.4rem;
    position: absolute;
    top: 0rem;
    right: 0;
    color: white;
    background-color: var(--primary-dark);
    font-size: var(--size-16);
}

.card-text-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--secondary-dark);
    font-weight: bolder;
    font-size: var(--size-32);
    width: fit-content;
}

.overlay-container {
    opacity: 0.6;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}