
.rating-star-icon{
    color: var(--secondary-lighter);
}
/* 
.rating-star-input:enabled .rating-star-icon{
    cursor: pointer;
} */

/* .rating-star-input:enabled + .rating-star-icon:hover{
    color: var(--yellow-light);
} */

.rating-star-input{
    width: 0;
    opacity: 0;
}

.rating-star-input:checked + .rating-star-icon{
    color: var(--yellow-color);
}

/* .rating-badge{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    font-size: 0.75rem;
    line-height: 0.75rem;
    color: black;
    background-color: white;
    padding: 0.3rem;
}

.rating-badge-star{  
    color: #ffb400;
    width: 0.75rem;
    height: 0.75rem;
    margin-right: 0.2rem;
} */