h1,
.h1 {
    font-size: var(--size-48);
    margin: var(--size-16) 0;
}

h2,
.h2 {
    font-size: var(--size-40);
    margin: var(--size-14) 0;
}

h3,
.h3 {
    font-size: var(--size-32);
    margin: var(--size-12) 0;
}

h4,
.h4 {
    font-size: var(--size-28);
    margin: var(--size-10) 0;
}

h5,
.h5 {
    font-size: var(--size-24);
    margin: var(--size-8) 0;
}

h6,
.h6 {
    font-size: var(--size-20);
    margin: var(--size-6) 0;
}

.p-lg {
    font-size: var(--size-32);
}

.p-rg {
    font-size: var(--size-24);
}

.p-md {
    font-size: var(--size-20);
}

.p-sm {
    font-size: var(--size-16);
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}


.text-strike-through {
    text-decoration: line-through;
}

.text-underline {
    text-decoration: underline;
}

.text-bold-weight {
    font-weight: 700;
}

.text-small-size {
    font-size: 0.875rem;
}

.text-mark {
    background-color: var(--secondary-lighter);
}

.primary-text-color {
    color: var(--primary-color);
}

.secondary-text-color {
    color: var(--secondary-color);
}

@media screen and (max-width: 768px) {

    .h1,
    h1 {
        font-size: var(--size-32);
    }

    .h2,
    h2 {
        font-size:  var(--size-28);
    }

    .h3,
    h3 {
        font-size: var(--size-24);
    }

    .h4,
    h4,
    .h5,
    h5,
    .h6,
    h6 {
        font-size: var(--size-20);
    }

    .p-lg {
        font-size:var(--size-20);
    }
}