@import url(/Magnet-UI/stylesheets/base/reset.css);
@import url(/Magnet-UI/stylesheets/base/variables.css);
@import url(/Magnet-UI/stylesheets/helpers/typography.css);
@import url(/Magnet-UI/stylesheets/helpers/spacing.css);
@import url(/Magnet-UI/stylesheets/layout/header.css);
@import url(/Magnet-UI/stylesheets/layout/main.css);
@import url(/Magnet-UI/stylesheets/layout/nav.css);
@import url(/Magnet-UI/stylesheets/code/code.css);
@import url(/Magnet-UI/components/alert.css);
@import url(/Magnet-UI/components/button.css);
@import url(/Magnet-UI/components/avatar.css);
@import url(/Magnet-UI/components/badge.css);
@import url(/Magnet-UI/components/card.css);
@import url(/Magnet-UI/components/image.css);
@import url(/Magnet-UI/components/input.css);
@import url(/Magnet-UI/stylesheets/base/utilities.css);
@import url(/Magnet-UI/components/list.css);
@import url(/Magnet-UI/components/rating.css);
@import url(/Magnet-UI/components/typography.css);
.documentation-page{
    display: grid;
    grid-template-columns: 0.6fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 5fr 0.3fr;
    grid-template-areas: "header header header header"
                            "nav main main main"
                            "nav main main main";    
                                    
}

.component-container-display{
    border: 2px solid gainsboro;
    border-radius: 2rem;
    padding: 1.5rem;
    margin: 1rem 0rem 2rem 0rem;
    width: 100%;
}

.navbar-section ul {
  list-style-type: none;
}

/* width */
::-webkit-scrollbar {
    width: var(--size-12);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius:var(--size-8);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--primary-dark);
  }


  .active{
    background-color: var(--secondary-dark);
    color: var(--complement-btn-text-color);
}

  @media (max-width:1280px){

    .documentation-page{
      display: grid;
      grid-template-columns: 0.6fr 1fr 1fr 1fr;
      grid-template-rows: 0.2fr 5fr 0.3fr;
      grid-template-areas: "header header header header"
                            "nav nav nav nav"
                            "main main main main";         
  }
    .nav-top-right .github,
    .nav-top-right .home{
        display: none;
    } 
    
    .nav-top-right .hamburger{
        display: block;
    }

    .navbar-container{
        display: block;
        width: 100%;
        background-color: var(--primary-light);
        position: sticky;
        top: 0;
        left: 0;
    }
}