@import url(/stylesheets/layout/header.css);
@import url(/stylesheets/layout/main.css);
@import url(/stylesheets/layout/nav.css);
@import url(/stylesheets/code/code.css);
@import url(/magnet.css);
.documentation-page{
    display: grid;
    grid-template-columns: 0.6fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 5fr 0.3fr;
    grid-template-areas: "header header header header"
                            "nav main main main"
                            "nav main main main";    
                                    
}

.component-container-display{
    border: 2px solid gainsboro;
    border-radius: 2rem;
    padding: 1.5rem;
    margin: 1rem 0rem 2rem 0rem;
    width: 100%;
}

.navbar-section ul {
  list-style-type: none;
}

/* width */
::-webkit-scrollbar {
    width: var(--size-12);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius:var(--size-8);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--primary-dark);
  }


  .active{
    background-color: var(--secondary-dark);
    color: var(--complement-btn-text-color);
}

@media screen and (max-width:1024px){
  .documentation-page{
    display: grid;
    grid-template-columns: 0.6fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 5fr 0.3fr;
    grid-template-areas: "header header header header"
                            "main main main main"
                            "main main main main";    
                                    
}
}