:root {
    --primary-color: #08AF91;
    --secondary-color: #253053;

    --primary-light:#3BE2C4;
    --primary-lighter:#6EFFF7;
    --primary-dark:#007C5E;
    --primary-darker:#006345;

    --secondary-light:#586386;
    --secondary-lighter:#A4AFD2;
    --secondary-dark:#000020;
    --secondary-darker:#03030f;

    --text-color: #0c080c;
    --accent-color: #af7a6d;
    --bg-color: white;
    --alt-text-color: #d10d90;
    --complement-btn-text-color: white;
}