:root {
    --primary-color: #08AF91;
    --secondary-color: #253053;

    --primary-light:#90dfd0;
    --primary-lighter:#e6f7f4;
    --primary-dark:#079e83;
    --primary-darker:#1e7565;

    --secondary-light:#b5b8c2;
    --secondary-lighter:#dfe2ec;
    --secondary-dark:#212b4b;
    --secondary-darker:#161d32;

    --text-color: #0c080c;
    --accent-color: #af7a6d;
    --bg-color: white;
    --alt-text-color: #d10d90;
    --complement-btn-text-color: white;
    --error-color:#da0303;
    --error-dark-color:#bb0f0f;
    --error-light-color:#eb9393;
    --success-color:#0a8d0a;
    --success-light-color:#6ccf6c;
    --success-dark-color:#096209;
}